::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    /* height: 70%; */
    /* margin-inline-end: 2em; */
    background-color: var(--clr1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--clr0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

