.imgs-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    /* grid-auto-rows: 100px; */
    gap: 15px;
    grid-auto-flow: dense;
    text-align: center;
    padding: 60px;
    /* min-height: 90vh; */
    /* margin: 0 auto; */
}

.imgs-container .img-container {
    /* font-family: sans-serif; */
    /* border: 1px solid black; */
    background-size: cover;
}

.imgs-container img {
    border-radius: 2em;
    cursor: pointer;

}

.imgs-container img:hover{
    /* -webkit-filter: brightness(1.2); */
    filter: brightness(0.7);
}
