header {
    border-radius: 5em;
    padding: 0 1em;
    background-image: var(--clr0);
    margin-bottom: 2em;
    height: 10vh;
    min-width: 300px;
}

header .logo img {
    height: 2em;
    border-radius: 0px;
    cursor: default;
}

.main-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 15px;
    text-align: center;
    place-content: center;
}


.main-nav a {
    font-family: poppins;
    align-self: center;
    justify-self: center;
    width: fit-content;
    color: var(--clr3);
    font-size: 1.5em;
    border-radius: 2em;
}

.main-nav a:hover {
    color: var(--clr4);
    background-color: var(--clr3);
}

.open-menu-btn {
    display: none;
    background-color: inherit;
    border: none;
    border-radius: 2em;
    font-size: 1.5em;
    background-color:var(--clr3) ;
    color: var(--clr8);

}

.main-nav .close-menu-btn{
    display: none;
    position: fixed;
    top: 0.3em;
    right: 0.3em;
    background-color: inherit;
    border: none;
    font-size: 2rem;
}

@media (max-width: 790px) {
    header {
        min-width: 200px;
    }

    header .logo img {
        height: 30px;
    }

    .main-nav {
        position: fixed;
        z-index: 2;
        top: 1em;
        right: 0;
        height: 50vh;
        grid-template-columns: 1fr;
        gap: 4em;
        border-radius: 2em;
        background: var(--clr0);
        align-items: center;
        min-width: 200px;
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
        padding: 1em 0;
    }

    .open-menu-btn {
        display: block;
    }
    .main-nav .close-menu-btn{
        display: block;
    }

    body.menu-open .main-nav {
        box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
        max-height: 100vh;
        transform: translateX(0);
    }
}

